{% extends 'main/base.html' %}

{% block title %}
About | Vinay V
{% endblock %}


{% block content %}

<section class="page-section">

    <div class="section-heading">

        <p>ABOUT ME</p>

        <h1>About Me</h1>

    </div>


    <div class="about-container">

        <div class="about-text">

            <h2>Professional Summary</h2>

            <p>
                Computer Science and Engineering graduate with
                knowledge of Python, SQL, and web development.
            </p>

            <p>
                Seeking an entry-level Software Engineer role
                to apply problem-solving and software
                development skills.
            </p>

        </div>


        <div class="about-info">

            <div>
                <strong>Name</strong>
                <span>Vinay V</span>
            </div>

            <div>
                <strong>Location</strong>
                <span>Chitradurga, Karnataka, India</span>
            </div>

            <div>
                <strong>Degree</strong>
                <span>B.E. Computer Science & Engineering</span>
            </div>

        </div>

    </div>

</section>

{% endblock %}