{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Vinay V | Portfolio
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>

<body>

    <!-- NAVBAR -->

    <header class="navbar">

        <div class="nav-container">

            <a href="{% url 'home' %}" class="logo"> Vinay<span>.</span></a>

            <nav>

                <a href="{% url 'home' %}">Home
                </a>

                <a href="{% url 'about' %}">
                    About
                </a>

                <a href="{% url 'skills' %}">
                    Skills
                </a>

                <a href="{% url 'training' %}">
                    Training
                </a>

                <a href="{% url 'projects' %}">
                    Projects
                </a>

                <a href="{% url 'education' %}">
                    Education
                </a>

                <a href="{% url 'contact' %}">
                    Contact
                </a>

            </nav>

        </div>

    </header>


    <!-- PAGE CONTENT -->

    {% block content %}
    {% endblock %}


    <!-- FOOTER -->

    <footer>

        <p>
            © 2026 Vinay V. All Rights Reserved.
        </p>

    </footer>


    <!-- JAVASCRIPT -->

    <script src="{% static 'main/js/script.js' %}">
    </script>

</body>

</html>