{% extends 'main/base.html' %}

{% block title %}
Education | Vinay V
{% endblock %}


{% block content %}

<section class="page-section">

    <div class="section-heading">

        <p>MY ACADEMIC JOURNEY</p>

        <h1>Education</h1>

    </div>


    <div class="education-card">

        <div class="education-year">
            2022 - 2026
        </div>

        <div>

            <h2>
                Bachelor of Engineering
            </h2>

            <h3>
                Computer Science and Engineering
            </h3>

            <p>
                GM Institute of Technology
            </p>

            <p>
                Davangere, Karnataka
            </p>

        </div>

    </div>

</section>

{% endblock %}