{% extends 'main/base.html' %}

{% block title %}
Training | Vinay V
{% endblock %}


{% block content %}

<section class="page-section">

    <div class="section-heading">

        <p>PROFESSIONAL TRAINING</p>

        <h1>Python Full Stack Development</h1>

    </div>


    <div class="training-card">

        <h2>QSpiders, Bangalore</h2>

        <p class="training-year">
            2026
        </p>

        <ul>

            <li>
                Completed professional training in Core Python,
                Advanced Python and Oracle SQL.
            </li>

            <li>
                Gained hands-on experience in Python Full Stack
                Development using HTML, CSS, JavaScript,
                Django and Oracle SQL.
            </li>

            <li>
                Solved 50+ coding problems on LeetCode and
                GeeksforGeeks.
            </li>

            <li>
                Applied Data Structures and Algorithms concepts
                including Arrays, Searching and Sorting.
            </li>

            <li>
                Implemented Merge Sort, Quick Sort and
                Selection Sort.
            </li>

        </ul>

    </div>

</section>

{% endblock %}